#para{
	background-color: yellow;
	color: green;
}
.para{
	background-color: #ddd;
	color: green;
}
.main-div{
	display: flex;
	flex-wrap: wrap;
}
.sub-div{
	border: 2px solid #000;
	margin: 5px;
	padding: 5px;
}
#name{
	background-color: #f4f4f4;
}
#paragraph{
	background-color: #ddd;
	color: green;
}
.first,.second,.third,.forth{
	border: 2px solid #000;
	margin: 2px;
	width: 400px;
	text-align: center;
}
/*.first img,.second img,.third img,.forth img{
	width: 200px;
}*/
img{
	width: 200px;
	padding: 10px;
}
.parent{
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}
/*media queiries for mobile view*/
@media screen and (max-width: 425px) {
	.parent{
		flex-direction: column;
	}
	.first{
		background-color: #c45e45;
	}
}
/*tablet media quiries*/
@media screen and (min-width: 426px) and (max-width: 768px){
	.parent{
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.first,.second,.third,.forth{
		background-color: #ddd;
		border-radius: 20px;
	    width: 300px;
	}
}






